extends ../layout

block content 
    .row
        .col-sm-8
            h1=title
            br
        .col-sm-4
            a(href="/messages/deleteall", class="btn btn-danger float-right") Delete All
    table.table
        thead
            tr
                th From User
                th To User
                th Message
                th Date
                th Time
                th Opened
                th Viewed
                th Deleted
                th Action
        tbody
            each message in messages
                if(message.deleted)
                    tr
                        td=message.user_from
                        td=message.user_to
                        td=message.body
                        td=message.date
                        td=message.time
                        td=message.opened
                        td=message.viewed
                        td=message.deleted
                        td
                            a(href="/messages/delete/"+message._id, class="btn btn-danger") Delete
                    